#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-box {
  border: 2px solid gray;
  padding: 10px;
  margin: 10px;
  /* background-color: lightgray; */
  width: 500px;
  height: 100px;
}